
Exercise_01/.vs/Exercise_01/DesignTimeBuild/.dtbcache.v2
Exercise_01/.vs/Exercise_01/v17/.futdcache.v1
Exercise_01/.vs/Exercise_01/v17/.suo
Exercise_01/Exercise_01.sln
Exercise_01/Exercise_01/bin/Debug/net6.0/Exercise_01.deps.json
Exercise_01/Exercise_01/bin/Debug/net6.0/Exercise_01.dll
Exercise_01/Exercise_01/bin/Debug/net6.0/Exercise_01.exe
Exercise_01/Exercise_01/bin/Debug/net6.0/Exercise_01.pdb
Exercise_01/Exercise_01/bin/Debug/net6.0/Exercise_01.runtimeconfig.json
Exercise_01/Exercise_01/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Exercise_01/Exercise_01/obj/Debug/net6.0/apphost.exe
Exercise_01/Exercise_01/obj/Debug/net6.0/Exercise_01.AssemblyInfo.cs
Exercise_01/Exercise_01/obj/Debug/net6.0/Exercise_01.AssemblyInfoInputs.cache
Exercise_01/Exercise_01/obj/Debug/net6.0/Exercise_01.assets.cache
Exercise_01/Exercise_01/obj/Debug/net6.0/Exercise_01.csproj.AssemblyReference.cache
Exercise_01/Exercise_01/obj/Debug/net6.0/Exercise_01.csproj.BuildWithSkipAnalyzers
Exercise_01/Exercise_01/obj/Debug/net6.0/Exercise_01.csproj.CoreCompileInputs.cache
Exercise_01/Exercise_01/obj/Debug/net6.0/Exercise_01.csproj.FileListAbsolute.txt
Exercise_01/Exercise_01/obj/Debug/net6.0/Exercise_01.dll
Exercise_01/Exercise_01/obj/Debug/net6.0/Exercise_01.GeneratedMSBuildEditorConfig.editorconfig
Exercise_01/Exercise_01/obj/Debug/net6.0/Exercise_01.genruntimeconfig.cache
Exercise_01/Exercise_01/obj/Debug/net6.0/Exercise_01.GlobalUsings.g.cs
Exercise_01/Exercise_01/obj/Debug/net6.0/Exercise_01.pdb
Exercise_01/Exercise_01/obj/Debug/net6.0/ref/Exercise_01.dll
Exercise_01/Exercise_01/obj/Debug/net6.0/refint/Exercise_01.dll
Exercise_01/Exercise_01/obj/Exercise_01.csproj.nuget.dgspec.json
Exercise_01/Exercise_01/obj/Exercise_01.csproj.nuget.g.props
Exercise_01/Exercise_01/obj/Exercise_01.csproj.nuget.g.targets
Exercise_01/Exercise_01/obj/project.assets.json
Exercise_01/Exercise_01/obj/project.nuget.cache
Exercise_02/.vs/Exercise_02/DesignTimeBuild/.dtbcache.v2
Exercise_02/.vs/Exercise_02/v17/.futdcache.v1
Exercise_02/.vs/Exercise_02/v17/.suo
Exercise_02/Exercise_02.sln
Exercise_02/Exercise_02/bin/Debug/net6.0/Exercise_02.deps.json
Exercise_02/Exercise_02/bin/Debug/net6.0/Exercise_02.dll
Exercise_02/Exercise_02/bin/Debug/net6.0/Exercise_02.exe
Exercise_02/Exercise_02/bin/Debug/net6.0/Exercise_02.pdb
Exercise_02/Exercise_02/bin/Debug/net6.0/Exercise_02.runtimeconfig.json
Exercise_02/Exercise_02/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Exercise_02/Exercise_02/obj/Debug/net6.0/apphost.exe
Exercise_02/Exercise_02/obj/Debug/net6.0/Exercise_02.AssemblyInfo.cs
Exercise_02/Exercise_02/obj/Debug/net6.0/Exercise_02.AssemblyInfoInputs.cache
Exercise_02/Exercise_02/obj/Debug/net6.0/Exercise_02.assets.cache
Exercise_02/Exercise_02/obj/Debug/net6.0/Exercise_02.csproj.AssemblyReference.cache
Exercise_02/Exercise_02/obj/Debug/net6.0/Exercise_02.csproj.BuildWithSkipAnalyzers
Exercise_02/Exercise_02/obj/Debug/net6.0/Exercise_02.csproj.CoreCompileInputs.cache
Exercise_02/Exercise_02/obj/Debug/net6.0/Exercise_02.csproj.FileListAbsolute.txt
Exercise_02/Exercise_02/obj/Debug/net6.0/Exercise_02.dll
Exercise_02/Exercise_02/obj/Debug/net6.0/Exercise_02.GeneratedMSBuildEditorConfig.editorconfig
Exercise_02/Exercise_02/obj/Debug/net6.0/Exercise_02.genruntimeconfig.cache
Exercise_02/Exercise_02/obj/Debug/net6.0/Exercise_02.GlobalUsings.g.cs
Exercise_02/Exercise_02/obj/Debug/net6.0/Exercise_02.pdb
Exercise_02/Exercise_02/obj/Debug/net6.0/ref/Exercise_02.dll
Exercise_02/Exercise_02/obj/Debug/net6.0/refint/Exercise_02.dll
Exercise_02/Exercise_02/obj/Exercise_02.csproj.nuget.dgspec.json
Exercise_02/Exercise_02/obj/Exercise_02.csproj.nuget.g.props
Exercise_02/Exercise_02/obj/Exercise_02.csproj.nuget.g.targets
Exercise_02/Exercise_02/obj/project.assets.json
Exercise_02/Exercise_02/obj/project.nuget.cache
Exercise_04/.vs/Exercise_04/DesignTimeBuild/.dtbcache.v2
Exercise_04/.vs/Exercise_04/v17/.futdcache.v1
Exercise_04/.vs/Exercise_04/v17/.suo
Exercise_04/Exercise_04.sln
Exercise_04/Exercise_04/bin/Debug/net6.0/Exercise_04.deps.json
Exercise_04/Exercise_04/bin/Debug/net6.0/Exercise_04.dll
Exercise_04/Exercise_04/bin/Debug/net6.0/Exercise_04.exe
Exercise_04/Exercise_04/bin/Debug/net6.0/Exercise_04.pdb
Exercise_04/Exercise_04/bin/Debug/net6.0/Exercise_04.runtimeconfig.json
Exercise_04/Exercise_04/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Exercise_04/Exercise_04/obj/Debug/net6.0/apphost.exe
Exercise_04/Exercise_04/obj/Debug/net6.0/Exercise_04.AssemblyInfo.cs
Exercise_04/Exercise_04/obj/Debug/net6.0/Exercise_04.AssemblyInfoInputs.cache
Exercise_04/Exercise_04/obj/Debug/net6.0/Exercise_04.assets.cache
Exercise_04/Exercise_04/obj/Debug/net6.0/Exercise_04.csproj.AssemblyReference.cache
Exercise_04/Exercise_04/obj/Debug/net6.0/Exercise_04.csproj.BuildWithSkipAnalyzers
Exercise_04/Exercise_04/obj/Debug/net6.0/Exercise_04.csproj.CoreCompileInputs.cache
Exercise_04/Exercise_04/obj/Debug/net6.0/Exercise_04.csproj.FileListAbsolute.txt
Exercise_04/Exercise_04/obj/Debug/net6.0/Exercise_04.dll
Exercise_04/Exercise_04/obj/Debug/net6.0/Exercise_04.GeneratedMSBuildEditorConfig.editorconfig
Exercise_04/Exercise_04/obj/Debug/net6.0/Exercise_04.genruntimeconfig.cache
Exercise_04/Exercise_04/obj/Debug/net6.0/Exercise_04.GlobalUsings.g.cs
Exercise_04/Exercise_04/obj/Debug/net6.0/Exercise_04.pdb
Exercise_04/Exercise_04/obj/Debug/net6.0/ref/Exercise_04.dll
Exercise_04/Exercise_04/obj/Debug/net6.0/refint/Exercise_04.dll
Exercise_04/Exercise_04/obj/Exercise_04.csproj.nuget.dgspec.json
Exercise_04/Exercise_04/obj/Exercise_04.csproj.nuget.g.props
Exercise_04/Exercise_04/obj/Exercise_04.csproj.nuget.g.targets
Exercise_04/Exercise_04/obj/project.assets.json
Exercise_04/Exercise_04/obj/project.nuget.cache
Exercise_03/.vs/Exercise_03/DesignTimeBuild/.dtbcache.v2
Exercise_03/.vs/Exercise_03/v17/.futdcache.v1
Exercise_03/.vs/Exercise_03/v17/.suo
Exercise_03/Exercise_03.sln
Exercise_03/Exercise_03/bin/Debug/net6.0/Exercise_03.deps.json
Exercise_03/Exercise_03/bin/Debug/net6.0/Exercise_03.dll
Exercise_03/Exercise_03/bin/Debug/net6.0/Exercise_03.exe
Exercise_03/Exercise_03/bin/Debug/net6.0/Exercise_03.pdb
Exercise_03/Exercise_03/bin/Debug/net6.0/Exercise_03.runtimeconfig.json
Exercise_03/Exercise_03/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Exercise_03/Exercise_03/obj/Debug/net6.0/apphost.exe
Exercise_03/Exercise_03/obj/Debug/net6.0/Exercise_03.AssemblyInfo.cs
Exercise_03/Exercise_03/obj/Debug/net6.0/Exercise_03.AssemblyInfoInputs.cache
Exercise_03/Exercise_03/obj/Debug/net6.0/Exercise_03.assets.cache
Exercise_03/Exercise_03/obj/Debug/net6.0/Exercise_03.csproj.AssemblyReference.cache
Exercise_03/Exercise_03/obj/Debug/net6.0/Exercise_03.csproj.BuildWithSkipAnalyzers
Exercise_03/Exercise_03/obj/Debug/net6.0/Exercise_03.csproj.CoreCompileInputs.cache
Exercise_03/Exercise_03/obj/Debug/net6.0/Exercise_03.csproj.FileListAbsolute.txt
Exercise_03/Exercise_03/obj/Debug/net6.0/Exercise_03.dll
Exercise_03/Exercise_03/obj/Debug/net6.0/Exercise_03.GeneratedMSBuildEditorConfig.editorconfig
Exercise_03/Exercise_03/obj/Debug/net6.0/Exercise_03.genruntimeconfig.cache
Exercise_03/Exercise_03/obj/Debug/net6.0/Exercise_03.GlobalUsings.g.cs
Exercise_03/Exercise_03/obj/Debug/net6.0/Exercise_03.pdb
Exercise_03/Exercise_03/obj/Debug/net6.0/ref/Exercise_03.dll
Exercise_03/Exercise_03/obj/Debug/net6.0/refint/Exercise_03.dll
Exercise_03/Exercise_03/obj/Exercise_03.csproj.nuget.dgspec.json
Exercise_03/Exercise_03/obj/Exercise_03.csproj.nuget.g.props
Exercise_03/Exercise_03/obj/Exercise_03.csproj.nuget.g.targets
Exercise_03/Exercise_03/obj/project.assets.json
Exercise_03/Exercise_03/obj/project.nuget.cache
Exercise_05/.vs/Exercise_05/DesignTimeBuild/.dtbcache.v2
Exercise_05/.vs/Exercise_05/v17/.futdcache.v1
Exercise_05/.vs/Exercise_05/v17/.suo
Exercise_05/Exercise_05.sln
Exercise_05/Exercise_05/bin/Debug/net6.0/Exercise_05.deps.json
Exercise_05/Exercise_05/bin/Debug/net6.0/Exercise_05.dll
Exercise_05/Exercise_05/bin/Debug/net6.0/Exercise_05.exe
Exercise_05/Exercise_05/bin/Debug/net6.0/Exercise_05.pdb
Exercise_05/Exercise_05/bin/Debug/net6.0/Exercise_05.runtimeconfig.json
Exercise_05/Exercise_05/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Exercise_05/Exercise_05/obj/Debug/net6.0/apphost.exe
Exercise_05/Exercise_05/obj/Debug/net6.0/Exercise_05.AssemblyInfo.cs
Exercise_05/Exercise_05/obj/Debug/net6.0/Exercise_05.AssemblyInfoInputs.cache
Exercise_05/Exercise_05/obj/Debug/net6.0/Exercise_05.assets.cache
Exercise_05/Exercise_05/obj/Debug/net6.0/Exercise_05.csproj.AssemblyReference.cache
Exercise_05/Exercise_05/obj/Debug/net6.0/Exercise_05.csproj.BuildWithSkipAnalyzers
Exercise_05/Exercise_05/obj/Debug/net6.0/Exercise_05.csproj.CoreCompileInputs.cache
Exercise_05/Exercise_05/obj/Debug/net6.0/Exercise_05.csproj.FileListAbsolute.txt
Exercise_05/Exercise_05/obj/Debug/net6.0/Exercise_05.dll
Exercise_05/Exercise_05/obj/Debug/net6.0/Exercise_05.GeneratedMSBuildEditorConfig.editorconfig
Exercise_05/Exercise_05/obj/Debug/net6.0/Exercise_05.genruntimeconfig.cache
Exercise_05/Exercise_05/obj/Debug/net6.0/Exercise_05.GlobalUsings.g.cs
Exercise_05/Exercise_05/obj/Debug/net6.0/Exercise_05.pdb
Exercise_05/Exercise_05/obj/Debug/net6.0/ref/Exercise_05.dll
Exercise_05/Exercise_05/obj/Debug/net6.0/refint/Exercise_05.dll
Exercise_05/Exercise_05/obj/Exercise_05.csproj.nuget.dgspec.json
Exercise_05/Exercise_05/obj/Exercise_05.csproj.nuget.g.props
Exercise_05/Exercise_05/obj/Exercise_05.csproj.nuget.g.targets
Exercise_05/Exercise_05/obj/project.assets.json
Exercise_05/Exercise_05/obj/project.nuget.cache
Exercize_06/.vs/Exercize_06/v17/.suo
Exercize_06/Exercize_06.sln
Exercize_06/Exercize_06/bin/Debug/net6.0/Exercize_06.deps.json
Exercize_06/Exercize_06/bin/Debug/net6.0/Exercize_06.dll
Exercize_06/Exercize_06/bin/Debug/net6.0/Exercize_06.exe
Exercize_06/Exercize_06/bin/Debug/net6.0/Exercize_06.pdb
Exercize_06/Exercize_06/bin/Debug/net6.0/Exercize_06.runtimeconfig.json
Exercize_06/Exercize_06/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Exercize_06/Exercize_06/obj/Debug/net6.0/apphost.exe
Exercize_06/Exercize_06/obj/Debug/net6.0/Exercize_06.AssemblyInfo.cs
Exercize_06/Exercize_06/obj/Debug/net6.0/Exercize_06.AssemblyInfoInputs.cache
Exercize_06/Exercize_06/obj/Debug/net6.0/Exercize_06.assets.cache
Exercize_06/Exercize_06/obj/Debug/net6.0/Exercize_06.csproj.AssemblyReference.cache
Exercize_06/Exercize_06/obj/Debug/net6.0/Exercize_06.csproj.BuildWithSkipAnalyzers
Exercize_06/Exercize_06/obj/Debug/net6.0/Exercize_06.csproj.CoreCompileInputs.cache
Exercize_06/Exercize_06/obj/Debug/net6.0/Exercize_06.csproj.FileListAbsolute.txt
Exercize_06/Exercize_06/obj/Debug/net6.0/Exercize_06.dll
Exercize_06/Exercize_06/obj/Debug/net6.0/Exercize_06.GeneratedMSBuildEditorConfig.editorconfig
Exercize_06/Exercize_06/obj/Debug/net6.0/Exercize_06.genruntimeconfig.cache
Exercize_06/Exercize_06/obj/Debug/net6.0/Exercize_06.GlobalUsings.g.cs
Exercize_06/Exercize_06/obj/Debug/net6.0/Exercize_06.pdb
Exercize_06/Exercize_06/obj/Debug/net6.0/ref/Exercize_06.dll
Exercize_06/Exercize_06/obj/Debug/net6.0/refint/Exercize_06.dll
Exercize_06/Exercize_06/obj/Exercize_06.csproj.nuget.dgspec.json
Exercize_06/Exercize_06/obj/Exercize_06.csproj.nuget.g.props
Exercize_06/Exercize_06/obj/Exercize_06.csproj.nuget.g.targets
Exercize_06/Exercize_06/obj/project.assets.json
Exercize_06/Exercize_06/obj/project.nuget.cache
Exercise_06/.vs/Exercise_06/v17/.suo
Exercise_06/Exercise_06.sln
Exercise_06/Exercise_06/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Exercise_06/Exercise_06/obj/Debug/net6.0/Exercise_06.AssemblyInfo.cs
Exercise_06/Exercise_06/obj/Debug/net6.0/Exercise_06.AssemblyInfoInputs.cache
Exercise_06/Exercise_06/obj/Debug/net6.0/Exercise_06.assets.cache
Exercise_06/Exercise_06/obj/Debug/net6.0/Exercise_06.csproj.AssemblyReference.cache
Exercise_06/Exercise_06/obj/Debug/net6.0/Exercise_06.GeneratedMSBuildEditorConfig.editorconfig
Exercise_06/Exercise_06/obj/Debug/net6.0/Exercise_06.GlobalUsings.g.cs
Exercise_06/Exercise_06/obj/Exercise_06.csproj.nuget.dgspec.json
Exercise_06/Exercise_06/obj/Exercise_06.csproj.nuget.g.props
Exercise_06/Exercise_06/obj/Exercise_06.csproj.nuget.g.targets
Exercise_06/Exercise_06/obj/project.assets.json
Exercise_06/Exercise_06/obj/project.nuget.cache
Exercise_06/.vs/Exercise_06/DesignTimeBuild/.dtbcache.v2
Exercise_06/.vs/Exercise_06/v17/.futdcache.v1
Exercise_07/.vs/Exercise_07/v17/.suo
Exercise_07/Exercise_07.sln
Exercise_07/Exercise_07/bin/Debug/net6.0/Exercise_07.deps.json
Exercise_07/Exercise_07/bin/Debug/net6.0/Exercise_07.dll
Exercise_07/Exercise_07/bin/Debug/net6.0/Exercise_07.exe
Exercise_07/Exercise_07/bin/Debug/net6.0/Exercise_07.pdb
Exercise_07/Exercise_07/bin/Debug/net6.0/Exercise_07.runtimeconfig.json
Exercise_07/Exercise_07/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Exercise_07/Exercise_07/obj/Debug/net6.0/apphost.exe
Exercise_07/Exercise_07/obj/Debug/net6.0/Exercise_07.AssemblyInfo.cs
Exercise_07/Exercise_07/obj/Debug/net6.0/Exercise_07.AssemblyInfoInputs.cache
Exercise_07/Exercise_07/obj/Debug/net6.0/Exercise_07.assets.cache
Exercise_07/Exercise_07/obj/Debug/net6.0/Exercise_07.csproj.AssemblyReference.cache
Exercise_07/Exercise_07/obj/Debug/net6.0/Exercise_07.csproj.BuildWithSkipAnalyzers
Exercise_07/Exercise_07/obj/Debug/net6.0/Exercise_07.csproj.CoreCompileInputs.cache
Exercise_07/Exercise_07/obj/Debug/net6.0/Exercise_07.csproj.FileListAbsolute.txt
Exercise_07/Exercise_07/obj/Debug/net6.0/Exercise_07.dll
Exercise_07/Exercise_07/obj/Debug/net6.0/Exercise_07.GeneratedMSBuildEditorConfig.editorconfig
Exercise_07/Exercise_07/obj/Debug/net6.0/Exercise_07.genruntimeconfig.cache
Exercise_07/Exercise_07/obj/Debug/net6.0/Exercise_07.GlobalUsings.g.cs
Exercise_07/Exercise_07/obj/Debug/net6.0/Exercise_07.pdb
Exercise_07/Exercise_07/obj/Debug/net6.0/ref/Exercise_07.dll
Exercise_07/Exercise_07/obj/Debug/net6.0/refint/Exercise_07.dll
Exercise_07/Exercise_07/obj/Exercise_07.csproj.nuget.dgspec.json
Exercise_07/Exercise_07/obj/Exercise_07.csproj.nuget.g.props
Exercise_07/Exercise_07/obj/Exercise_07.csproj.nuget.g.targets
Exercise_07/Exercise_07/obj/project.assets.json
Exercise_07/Exercise_07/obj/project.nuget.cache
Exercise_07/.vs/Exercise_07/v17/.futdcache.v1
Exercise_08/.vs/Exercise_08/v17/.suo
Exercise_08/Exercise_08.sln
Exercise_08/Exercise_08/bin/Debug/net6.0/Exercise_08.deps.json
Exercise_08/Exercise_08/bin/Debug/net6.0/Exercise_08.dll
Exercise_08/Exercise_08/bin/Debug/net6.0/Exercise_08.exe
Exercise_08/Exercise_08/bin/Debug/net6.0/Exercise_08.pdb
Exercise_08/Exercise_08/bin/Debug/net6.0/Exercise_08.runtimeconfig.json
Exercise_08/Exercise_08/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Exercise_08/Exercise_08/obj/Debug/net6.0/apphost.exe
Exercise_08/Exercise_08/obj/Debug/net6.0/Exercise_08.AssemblyInfo.cs
Exercise_08/Exercise_08/obj/Debug/net6.0/Exercise_08.AssemblyInfoInputs.cache
Exercise_08/Exercise_08/obj/Debug/net6.0/Exercise_08.assets.cache
Exercise_08/Exercise_08/obj/Debug/net6.0/Exercise_08.csproj.AssemblyReference.cache
Exercise_08/Exercise_08/obj/Debug/net6.0/Exercise_08.csproj.BuildWithSkipAnalyzers
Exercise_08/Exercise_08/obj/Debug/net6.0/Exercise_08.csproj.CoreCompileInputs.cache
Exercise_08/Exercise_08/obj/Debug/net6.0/Exercise_08.csproj.FileListAbsolute.txt
Exercise_08/Exercise_08/obj/Debug/net6.0/Exercise_08.dll
Exercise_08/Exercise_08/obj/Debug/net6.0/Exercise_08.GeneratedMSBuildEditorConfig.editorconfig
Exercise_08/Exercise_08/obj/Debug/net6.0/Exercise_08.genruntimeconfig.cache
Exercise_08/Exercise_08/obj/Debug/net6.0/Exercise_08.GlobalUsings.g.cs
Exercise_08/Exercise_08/obj/Debug/net6.0/Exercise_08.pdb
Exercise_08/Exercise_08/obj/Debug/net6.0/ref/Exercise_08.dll
Exercise_08/Exercise_08/obj/Debug/net6.0/refint/Exercise_08.dll
Exercise_08/Exercise_08/obj/Exercise_08.csproj.nuget.dgspec.json
Exercise_08/Exercise_08/obj/Exercise_08.csproj.nuget.g.props
Exercise_08/Exercise_08/obj/Exercise_08.csproj.nuget.g.targets
Exercise_08/Exercise_08/obj/project.assets.json
Exercise_08/Exercise_08/obj/project.nuget.cache
Exercise_07/.vs/Exercise_07/DesignTimeBuild/.dtbcache.v2
Exercise_08/.vs/Exercise_08/DesignTimeBuild/.dtbcache.v2
Exercise_08/.vs/Exercise_08/v17/.futdcache.v1
Exercise_09/.vs/Exercise_09/v17/.suo
Exercise_09/Exercise_09.sln
Exercise_09/Exercise_09/bin/Debug/net6.0/Exercise_09.deps.json
Exercise_09/Exercise_09/bin/Debug/net6.0/Exercise_09.dll
Exercise_09/Exercise_09/bin/Debug/net6.0/Exercise_09.exe
Exercise_09/Exercise_09/bin/Debug/net6.0/Exercise_09.pdb
Exercise_09/Exercise_09/bin/Debug/net6.0/Exercise_09.runtimeconfig.json
Exercise_09/Exercise_09/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Exercise_09/Exercise_09/obj/Debug/net6.0/apphost.exe
Exercise_09/Exercise_09/obj/Debug/net6.0/Exercise_09.AssemblyInfo.cs
Exercise_09/Exercise_09/obj/Debug/net6.0/Exercise_09.AssemblyInfoInputs.cache
Exercise_09/Exercise_09/obj/Debug/net6.0/Exercise_09.assets.cache
Exercise_09/Exercise_09/obj/Debug/net6.0/Exercise_09.csproj.AssemblyReference.cache
Exercise_09/Exercise_09/obj/Debug/net6.0/Exercise_09.csproj.BuildWithSkipAnalyzers
Exercise_09/Exercise_09/obj/Debug/net6.0/Exercise_09.csproj.CoreCompileInputs.cache
Exercise_09/Exercise_09/obj/Debug/net6.0/Exercise_09.csproj.FileListAbsolute.txt
Exercise_09/Exercise_09/obj/Debug/net6.0/Exercise_09.dll
Exercise_09/Exercise_09/obj/Debug/net6.0/Exercise_09.GeneratedMSBuildEditorConfig.editorconfig
Exercise_09/Exercise_09/obj/Debug/net6.0/Exercise_09.genruntimeconfig.cache
Exercise_09/Exercise_09/obj/Debug/net6.0/Exercise_09.GlobalUsings.g.cs
Exercise_09/Exercise_09/obj/Debug/net6.0/Exercise_09.pdb
Exercise_09/Exercise_09/obj/Debug/net6.0/ref/Exercise_09.dll
Exercise_09/Exercise_09/obj/Debug/net6.0/refint/Exercise_09.dll
Exercise_09/Exercise_09/obj/Exercise_09.csproj.nuget.dgspec.json
Exercise_09/Exercise_09/obj/Exercise_09.csproj.nuget.g.props
Exercise_09/Exercise_09/obj/Exercise_09.csproj.nuget.g.targets
Exercise_09/Exercise_09/obj/project.assets.json
Exercise_09/Exercise_09/obj/project.nuget.cache
Exercise_09/Exercise_09/.vs/Exercise_09/v17/.suo
Exercise_10/Exercise_10/obj/project.nuget.cache
Exercise_10/Exercise_10/obj/project.assets.json
Exercise_10/Exercise_10/obj/Exercise_10.csproj.nuget.g.targets
Exercise_10/Exercise_10/obj/Exercise_10.csproj.nuget.g.props
Exercise_10/Exercise_10/obj/Exercise_10.csproj.nuget.dgspec.json
Exercise_10/Exercise_10/obj/Debug/net6.0/refint/Exercise_10.dll
Exercise_10/Exercise_10/obj/Debug/net6.0/ref/Exercise_10.dll
Exercise_10/Exercise_10/obj/Debug/net6.0/Exercise_10.pdb
Exercise_10/Exercise_10/obj/Debug/net6.0/Exercise_10.GlobalUsings.g.cs
Exercise_10/Exercise_10/obj/Debug/net6.0/Exercise_10.genruntimeconfig.cache
Exercise_10/Exercise_10/obj/Debug/net6.0/Exercise_10.GeneratedMSBuildEditorConfig.editorconfig
Exercise_10/Exercise_10/obj/Debug/net6.0/Exercise_10.dll
Exercise_10/Exercise_10/obj/Debug/net6.0/Exercise_10.csproj.FileListAbsolute.txt
Exercise_10/Exercise_10/obj/Debug/net6.0/Exercise_10.csproj.CoreCompileInputs.cache
Exercise_10/Exercise_10/obj/Debug/net6.0/Exercise_10.csproj.BuildWithSkipAnalyzers
Exercise_10/Exercise_10/obj/Debug/net6.0/Exercise_10.csproj.AssemblyReference.cache
Exercise_10/Exercise_10/obj/Debug/net6.0/Exercise_10.assets.cache
Exercise_10/Exercise_10/obj/Debug/net6.0/Exercise_10.AssemblyInfoInputs.cache
Exercise_10/Exercise_10/obj/Debug/net6.0/Exercise_10.AssemblyInfo.cs
Exercise_10/Exercise_10/obj/Debug/net6.0/apphost.exe
Exercise_10/Exercise_10/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Exercise_10/Exercise_10/bin/Debug/net6.0/Exercise_10.runtimeconfig.json
Exercise_10/Exercise_10/bin/Debug/net6.0/Exercise_10.pdb
Exercise_10/Exercise_10/bin/Debug/net6.0/Exercise_10.exe
Exercise_10/Exercise_10/bin/Debug/net6.0/Exercise_10.dll
Exercise_10/Exercise_10/bin/Debug/net6.0/Exercise_10.deps.json
Exercise_10/Exercise_10.sln
Exercise_10/.vs/Exercise_10/v17/.suo
Exercise_09/Exercise_09/.vs/Exercise_09/v17/.futdcache.v1
Exercise_09/Exercise_09/.vs/Exercise_09/DesignTimeBuild/.dtbcache.v2
Exercise_05/Exercise_05/.vs/Exercise_05/v17/.suo
Exercise_05/Exercise_05/.vs/Exercise_05/v17/.futdcache.v1
Exercise_10/.vs/Exercise_10/v17/.futdcache.v1
Exercise_11/.vs/Exercise_11/v17/.suo
Exercise_11/Exercise_11.sln
Exercise_11/Exercise_11/bin/Debug/net6.0/Exercise_11.deps.json
Exercise_11/Exercise_11/bin/Debug/net6.0/Exercise_11.dll
Exercise_11/Exercise_11/bin/Debug/net6.0/Exercise_11.exe
Exercise_11/Exercise_11/bin/Debug/net6.0/Exercise_11.pdb
Exercise_11/Exercise_11/bin/Debug/net6.0/Exercise_11.runtimeconfig.json
Exercise_11/Exercise_11/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Exercise_11/Exercise_11/obj/Debug/net6.0/apphost.exe
Exercise_11/Exercise_11/obj/Debug/net6.0/Exercise_11.AssemblyInfo.cs
Exercise_11/Exercise_11/obj/Debug/net6.0/Exercise_11.AssemblyInfoInputs.cache
Exercise_11/Exercise_11/obj/Debug/net6.0/Exercise_11.assets.cache
Exercise_11/Exercise_11/obj/Debug/net6.0/Exercise_11.csproj.AssemblyReference.cache
Exercise_11/Exercise_11/obj/Debug/net6.0/Exercise_11.csproj.BuildWithSkipAnalyzers
Exercise_11/Exercise_11/obj/Debug/net6.0/Exercise_11.csproj.CoreCompileInputs.cache
Exercise_11/Exercise_11/obj/Debug/net6.0/Exercise_11.csproj.FileListAbsolute.txt
Exercise_11/Exercise_11/obj/Debug/net6.0/Exercise_11.dll
Exercise_11/Exercise_11/obj/Debug/net6.0/Exercise_11.GeneratedMSBuildEditorConfig.editorconfig
Exercise_11/Exercise_11/obj/Debug/net6.0/Exercise_11.genruntimeconfig.cache
Exercise_11/Exercise_11/obj/Debug/net6.0/Exercise_11.GlobalUsings.g.cs
Exercise_11/Exercise_11/obj/Debug/net6.0/Exercise_11.pdb
Exercise_11/Exercise_11/obj/Debug/net6.0/ref/Exercise_11.dll
Exercise_11/Exercise_11/obj/Debug/net6.0/refint/Exercise_11.dll
Exercise_11/Exercise_11/obj/Exercise_11.csproj.nuget.dgspec.json
Exercise_11/Exercise_11/obj/Exercise_11.csproj.nuget.g.props
Exercise_11/Exercise_11/obj/Exercise_11.csproj.nuget.g.targets
Exercise_11/Exercise_11/obj/project.assets.json
Exercise_11/Exercise_11/obj/project.nuget.cache
